<!-- This is the main HTML document structure -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags for character encoding and responsive design -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Title of the webpage -->
    <title>Home Page</title>
    
    <!-- Link to the external stylesheet -->
    <link rel="stylesheet" href="/styles.css">
    
    <!-- Preconnects and link to an external Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+IS:wght@100..400&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Main heading with a class for styling -->
    <h1 class="playwrite-title">Express Online Bookstore</h1>
    <hr>
    
    <!-- Navigation menu with links to different sections of the application -->
    <ul>
        <li><a href="/books">Books</a></li>
        <li><a href="/authors">Authors</a></li>
        <li><a href="/customers">Customers</a></li>
        <li><a href="/orders">Orders</a></li>
    </ul>
    <hr>
    
    <!-- Image displayed on the homepage -->
    <img src="/images/image-from-rawpixel-id-15200621-png.png" alt="BookImage" width="500"/>
    <hr>
    
    <!-- Footer section with copyright information -->
    <footer>
        <p>&copy; Lianne Campbell 2024</p> 
    </footer>
</body>
</html>