<!-- views/authors/create.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Author</title>
</head>
<body>
<h1>Create New Author</h1>
<form action="/authors" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br><br>
    <label for="biography">Biography:</label><br>
    <textarea id="biography" name="biography" rows="4" cols="50"></textarea><br><br>
    <button type="submit">Create Author</button>
</form>
</body>
</html>